// Font Family
// @font-face {
//   font-family: 'Dancing Script';
//   src: url('./../font/DancingScript-Regular.ttf');
// }

:root {
  --step-size: 76px;
}

* {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.84rem;
}

html {
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #a0a0a0;
  }
  &::-webkit-scrollbar-track {
    background-color: #e2e2e2;
  }
}

// Font Size
.fs-xxsmall {
  font-size: 0.66rem !important;
}
.fs-xsmall {
  font-size: 0.7rem !important;
}
.fs-small {
  font-size: 0.75rem !important;
}
.fs-medium {
  font-size: 0.8rem !important;
}
.fs-large {
  font-size: 0.9rem !important;
}
.fs-xlarge {
  font-size: 1rem !important;
}
.fs-xxlarge {
  font-size: 1.1rem !important;
}

// Common button styles
.v-btn {
  letter-spacing: 0 !important;
  text-transform: none !important;
}

// Common card style
.common-card {
  @media only screen and (min-width: 1300px) {
    border: 1px solid #e2e2e2 !important;
    border-radius: 8px !important;
  }
}

// Common styles
.w-100 {
  width: 100% !important;
}

.v-skeleton-loader {
  &__text {
    margin: 0 !important;
    border-radius: 0 !important;
  }
}

// Icons
.white-stroke {
  path {
    stroke: #fff !important;
  }
}
.white-fill {
  path {
    fill: #fff !important;
  }
}
